@{
    ViewData["Title"] = "Category Filter View";
}

@model List<Product>

@*Search feature by category*@
<form asp-controller="Home" asp-action="CategoryView" method="get">
    <p>
        Category: <input type="text" name="search_category" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="text-center">
    <h1 class="display-4">Find.Explore.Substitute</h1>
</div>

<div class="text-center">
    @*control table width here*@
    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td><b>Product</b></td></h3>
                <td><b>About</b></td>
                <td><b>Description</b></td>

            </tr>
        </thead>

        @*now add rows to the table, using a loop*@
        <tbody>
            @foreach (Product m in Model)
            {
@*                <h2>@m.Product_Name</h2>*@
                <tr>
                    <td class="tdImage" style="text-align: center; vertical-align: middle;"><h2>@m.Product_Name</h2><img src="@m.Product_Image_URL" width="220" /></td>
                    <td style="text-align: center; vertical-align: middle;"><h2>@m.About</h2></td>
                    <td style="text-align: center; vertical-align: middle;"><h3><b>Vendor: </b><h3>@m.Vendor_Name</h3></h3><br /><h3><b>Price: </b><h3>$@m.Product_Price</h3><a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" class="btn btn-outline-info" style="font-weight:bold">More</a></h3></td>
                </tr>
            }
        </tbody>
    </table>
</div>