@{
    ViewData["Title"] = "Category Filter View";
}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DM4EEFVC6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-8DM4EEFVC6');
</script>

@model List<Product>

<div class="text-center">
    @*<h1 class="display-4">Products</h1>*@
    @*<h1 class="fw-bolder">Products</h1>*@
    <h1 class="display-5 fw-bolder mb-2">Products</h1>

</div>

@*---------- Category Filter ----------*@
<form class="row g-3" asp-controller="Home" asp-action="CategoryView" method="get">
    <div class="col-auto">
        <label for="search_category">Category:</label>
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example" name="search_category" id="search_category">
            <option value="">All</option>
            <option value="Dental Hygiene">Dental Hygiene</option>
            <option value="Houshold Cleaning">Houshold Cleaning</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Outdoors">Outdoors</option>
            <option value="Kid Toys">Kid Toys</option>
            <option value="Pet Supplies">Pet Supplies</option>
            <option value="Clothes">Clothes</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-success" value="Filter">Filter</button>
    </div>
    <p>
    </p>
</form>

<form asp-controller="Home" asp-action="Low_High" method="get">
    <label for="search_category">Filter By Price: </label>
    <button type="submit" class="btn btn-success" > Low-High</button>
</form>
<br />

@*---------- ******************** -----------*@

@*---------- Products in Cards ----------*@
@foreach (Product m in Model)
{
    <div class="card mb-3">
        <h5 class="card-header">@m.Product_Name</h5>
        <div class="row g-0">
            <div class="col-md-4 text-center row align-items-center">
                <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID">
                    <img src="@m.Product_Image_URL" class="image" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" style="text-decoration: none;">@m.Product_Name</a> | $@m.Product_Price
                    </h5>
                    <p class="card-text">
                        @m.About <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" style="text-decoration:none;"> ...Learn More</a>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Eco-Rating: @m.Eco_Rating/5 &emsp; Customer Rating: @m.Customer_Rating/5 &emsp;</small>
                    </p>
                    <p class="card-text">
                        <span class="badge rounded-pill bg-light text-dark">@m.Category</span> &emsp;
                        <span class="badge rounded-pill bg-light text-dark">@m.Tags</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@*---------- ******************** -----------*@

