@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center, text-md-center">
    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td><b>Image</b></td>
                <td><b>Product</b></td>
                <td><b>Vendor</b></td>
                <td><b>Price</b></td>
                <td><b>About</b></td>
                <td><b>Product Details</b></td>
            </tr>
        </thead>

        @*now add rows to the table, using a loop*@
        <tbody>
            @foreach (Product m in Model)
            {
                <tr>
                    <td class="tdImage" ><img src="@m.Product_Image_URL" width="140" /></td>
                    <td class="td1"><h2>@m.Product_Name</h2></td>
                    <td><h3>@m.Vendor_Name</h3></td>
                    <td><h3>@m.Product_Price</h3></td>
                    <td><h3>@m.About</h3></td>
                    <td><h3> <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" class="btn btn-outline-info" style="font-weight:bold">Details</a></h3></td>
                </tr>
            }
        </tbody>
    </table>
</div>