@{
    ViewData["Title"] = "Category Filter View";
}

@model List<Product>

<div class="text-center">
    <h1 class="display-4">Top Products: Lowest - Highest Price</h1>
</div>

@*---------- Category Filter ----------*@
<form class="row g-3" asp-controller="Home" asp-action="Low_High" method="get">
    <div class="col-auto">
        <label for="search_category">Category:</label>
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example" name="search_category" id="search_category">
            <option value="">All</option>
            <option value="Dental Hygiene">Dental Hygiene</option>
            <option value="Houshold Cleaning">Houshold Cleaning</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Outdoors">Outdoors</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" value="Filter">Filter</button>
    </div>
    <p>
        @*<button type="submit" value="Filter">Filter</button>*@
    </p>
</form>


@*---------- ******************** -----------*@

@*---------- Products in Cards ----------*@
@foreach (Product m in Model)
{
    <div class="card mb-3">
        <h5 class="card-header">@m.Product_Name</h5>
        <div class="row g-0">
            <div class="col-md-4 text-center row align-items-center ">
                <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID">
                    <img src="@m.Product_Image_URL" style="width:200px; height:200px; object-fit:contain;" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" style="text-decoration:none;">@m.Product_Name</a> | $@m.Product_Price
                    </h5>
                    <p class="card-text">
                        @m.About <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" style="text-decoration:none;"> ...Learn More</a>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Eco-Rating: @m.Eco_Rating/5 &emsp; Customer Rating: @m.Customer_Rating/5 &emsp;</small>
                    </p>
                    <p class="card-text">
                        <span class="badge rounded-pill bg-light text-dark">@m.Category</span> &emsp;
                        <span class="badge rounded-pill bg-light text-dark">@m.Tags</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@*---------- ******************** -----------*@
@*@foreach (Product m in Model)
{
                    <tr style="height: 60px;">
                        <td class="tdImage">
                            <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID">
                                <img src="@m.Product_Image_URL" style="width:140px; height:140px; object-fit:contain;" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID">@m.Product_Name</a>
                        </td>
                        <td>@m.Vendor_Name</td>
                        <td>$@m.Product_Price</td>
                        <td>@m.Eco_Rating/5</td>
                        <td>@m.Customer_Rating/5</td>
                        <td>@m.About <a asp-controller="Home" asp-action="Product" asp-route-ID="@m.ID" style="text-decoration:none;"> ...Learn More</a></td>
                    </tr>*@
@*}*@
@*---------- ******************** -----------*@