@{
    ViewData["Title"] = "Category Filter View";
}

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DM4EEFVC6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-8DM4EEFVC6');
</script>

<style>
    h3 {font-size:xx-large; font-weight:500}
    h4 {font-weight:400}
    /*image {position:fixed; border: 10px}*/
    footer {
        margin-top:500px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    p {color: white;}

</style>

@model Product
<div class="text-center">
    <h1 class="display-4"> @Model.Product_Name </h1>
    <h2 style="font-weight:lighter"> by @Model.Vendor_Name</h2>
</div>



<br /> 
<div style="width: 100%">
    <div style="width: 35%; float:left">
        <h2 class="Image"><img src="@Model.Product_Image_URL" width="500" /></h2>
    </div>
    <div style="width: 60%; float:right">

        <h3>Price:</h3>
        <h4>$@Model.Product_Price</h4>


        <h3>Customer Rating:</h3>
        <h4>@Model.Customer_Rating / 5.0</h4>
        
        <h3>Eco Rating: </h3>
        <h4>@Model.Eco_Rating / 5.0</h4>
        
        <h3>About the Product:  </h3>
        <h4 style="font-weight:lighter">@Model.About</h4>

        <br />

        <a class="btn btn-info" href="@Model.Product_URL"> Shop Product </a>
    </div>
</div>
<div> 
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
    </p>
</div>
